<div class="card  col-md-4">
  <img class="card-img-top" src="https://www.creative-tim.com/assets/icon-angular-ada038f93d6763f80ca9d1776d103783.jpg" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">{{project.name}}</h4>
    <ul>
      <li>Name: {{project.name}}</li>
      <li>Category: {{project.category}}</li>
      <li>Goal: {{project.goal}}</li>
      <li>Raised: {{project.raised}}</li>
    </ul>
    <p class="card-text">{{project.about}}</p>
    <a [routerLink]= "['/project/', project.id]" class="btn btn-primary">View project</a>
  </div>
</div>