<h1>New Project</h1>

<form class="add-project" (ngSubmit)="addProject()">
    <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" class="form-control" [(ngModel)]="project.name" />
    </div>
    <div class="form-group">
        <label>Category</label>
        <select name="category" class="form-control" [(ngModel)]="project.category">
      <option *ngFor="let item of categories" [(ngValue)] ="item.value">{{item.name}}</option>
    </select>
    </div>
    <input name="" class="btn btn-default" type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".jpeg, .jpg, .bmp,.png">
    <div class="form-group">
        <label>Goal</label>
        <input type="text" name="goal" class="form-control" [(ngModel)]="project.goal" />
    </div>
    <div class="form-group">
        <label>About</label>
        <textarea name="about" class="form-control" [(ngModel)]="project.about"></textarea>
    </div>
    <div class="pull-right">
        <input type="submit" class="btn btn-primary" value="save" />
    </div>
    <br/>
</form>