<div align="center">
  <h4 class="text-white">
    Your verification message was sent to your e-mail!
  </h4>
  <h4 class="text-white">
    Please, click on the sent link to verify your account.
  </h4>
</div>

