<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li *ngIf="!isLoggedIn()" class="active"><a href="login">Login</a></li>
                <li *ngIf="!isLoggedIn()" class="active"><a href="register">Register</a></li>
                <li *ngIf="isLoggedIn()" class="active"><a href="addProject">New Project</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li *ngIf="isLoggedIn()" class="active"><a (click)="logout()">Logout</a></li>
                <li class="active"><a href="main">Home</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container theme-showcase" role="main">
    <div class="jumbotron">
        <h1>Crowdfund</h1>
        <p>This is crowdfund app that lets you interact with project owner once you support project</p>
    </div>
    <router-outlet></router-outlet>
</div>