<nav class="navbar-inverse bg-inverse">
  <div class="container">
      <div class="navbar-header">
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <a class="navbar-brand" href="main">
            <img src="http://www.indiaretailing.com/wp-content/uploads/2016/02/Home-Button.png" width="30" height="30" alt="">
        </a>
        <ul class="nav navbar-nav pull-left">
            <li *ngIf="!isLoggedIn()" class="nav-item active"><a href="register"><img src="http://adaptivesportsne.org/wp-content/uploads/2015/04/Register-Button.png" width="100" height="30" alt=""></a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li *ngIf="isLoggedIn()" class="nav-item active"><a (click)="logout()"><img src="https://au.kg/images/logout.png" width="30" height="30" alt=""></a></li>
            <li *ngIf="!isLoggedIn()" class="nav-item active"><a href="login"><img src="https://www.shareicon.net/download/2016/10/11/842382_multimedia_512x512.png" width="30" height="30" alt=""></a></li>
        </ul>
      </div>
  </div>
</nav>
<div class="container theme-showcase" role="main">
  <div class="jumbotron" style="padding: 30px 15px;
                                margin-bottom: 30px;
                                height: auto;
                                color: inherit;
                                background-position: center center;
                                background-color: #f9f9f9;
                                background-size: cover;
                                background-image:url('https://wallpapercave.com/wp/wp1828955.jpg');">
      <img src="http://ftninformatika.com/img/partners/it_engine.png" width="600" height="150" alt="">
      <h2 class="text-info font-weight-bold" align="right">Praksa - Sasha Milosevic</h2>
  </div>
  <router-outlet></router-outlet>
</div>