<div class="container">
  <div class="row" *ngIf="user">
    <div class="col-md-2">
      <img [src]="getSantizeUrl(user.imagePath)" width="250px" height="200px">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-9">
      <h2 class="text-white">First Name: {{user.firstName}}</h2>
      <h2 class="text-white">Last Name: {{user.lastName}}</h2>
      <br/>
      <h4 class="text-white">E-mail: {{user.email}}</h4>
      <h4 class="text-white">Role: {{user.role}}</h4>
    </div>  
  </div>
</div>