<h1 class="text-white">Register</h1>

<form class="add-project" (ngSubmit)="addUser()">
  <div class="form-group">
    <label class="text-white">Username</label>
    <input type="text" name="username" class="form-control" [(ngModel)]="userToAdd.username" placeholder="username"/>
  </div>
  <div class="form-group">
    <label class="text-white">Password</label>
    <input type="password" name="password" class="form-control" [(ngModel)]="userToAdd.password" placeholder="password"/>
  </div>
  <div class="form-group">
    <label class="text-white">Name</label>
    <input type="firstName" name="firstName" class="form-control" [(ngModel)]="userToAdd.firstName" placeholder="firstname"/>
  </div>
  <div class="form-group">
    <label class="text-white">LastName</label>
    <input type="lastName" name="lastName" class="form-control" [(ngModel)]="userToAdd.lastName" placeholder="lastname"/>
  </div>
  <!-- <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".jpeg,.bmp,.png,.jpg"> -->
  <div class="form-group">
    <label class="text-white">E-mail</label>
    <input type="email" name="email" class="form-control" [(ngModel)]="userToAdd.email" placeholder="email"/>
  </div>
  <div class="form-group">
      <label class="text-white">ImageURL</label>
      <input type="imagePath" name="imagePath" class="form-control" [(ngModel)]="userToAdd.imagePath" placeholder="imagePath"/>
  </div>
  <br/>
  <input class="btn btn-primary col-md-12" type="submit" value="Register"/>
  <br/>
  <br/>
</form>
<app-verify class="d-none" [userToAdd]="userToAdd"></app-verify>