<div *ngIf="!show">
  <h1 class="text-white">Edit User</h1>

  <form class="add-project" (ngSubmit)="editUser(); toggle(); showInfo()">
    <div class="form-group">
      <label class="text-white">Username</label>
      <input type="text" name="username" class="form-control" [(ngModel)]="user.username" placeholder="username"/>
    </div>
    <div class="form-group">
      <label class="text-white">Password</label>
      <input type="password" name="password" class="form-control" [(ngModel)]="user.password" placeholder="password"/>
    </div>
    <div class="form-group">
      <label class="text-white">Name</label>
      <input type="firstName" name="firstName" class="form-control" [(ngModel)]="user.firstName" placeholder="firstname"/>
    </div>
    <div class="form-group">
      <label class="text-white">LastName</label>
      <input type="lastName" name="lastName" class="form-control" [(ngModel)]="user.lastName" placeholder="lastname"/>
    </div>
    <!-- <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".jpeg,.bmp,.png,.jpg"> -->
    <div class="form-group">
        <label class="text-white">ImageURL</label>
        <input type="imagePath" name="imagePath" class="form-control" [(ngModel)]="user.imagePath" placeholder="imagePath"/>
      </div>
    <br/>
    <input class="btn btn-success" type="submit" value="Edit"/>
  </form>
</div>

