<div class="row">
  <div class="input-group col-md-6 col-md-offset-3">
      <input type="text" class="form-control" placeholder="Search by Title: " aria-label="Recipient's username" aria-describedby="basic-addon2" [(ngModel)] = "title">
      <div class="input-group-append">
        <button class="btn btn-outline-light" type="button" (click)="searchByTitle()">Search</button>
      </div>
  </div>        
</div>
<br/>
<br/>
<div *ngIf="users">
  <div class="container-fluid col-md-12">
    <ul *ngFor="let user of users">
      <div> 
        <div class="card-transparent col-md-4 text-center border-0">
          <img class="card-img-top rounded" [src]="getSantizeUrl(user.imagePath)" height="200px" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title"><a class="text-white" [routerLink]= "['/users/', user.id]">{{ user.firstName }}</a></h4>
            <p class="text-white">First Name: {{ user.firstName }}</p>
            <p class="text-white">Last Name: {{ user.lastName }}</p>
            <p class="text-white">E-mail: {{ user.email }}</p>
          </div>
          <br/>
          <button class="btn btn-danger btn-block" (click)="delete(user); showSuccess()">Delete</button>
          <button class="btn btn-warning btn-block" (click)= "toggle()">Edit</button>
          <br/>
          <br/>
          <div *ngIf="show">
            <app-edit-user #edit [user]="user" (editedUser)="edit($event)"></app-edit-user>
          </div>
        </div>
      </div>
    </ul>
  </div>  
</div>

