<form *ngIf="categories" class="form" (ngSubmit)="add()">
    <div class="form-group">
      <label>Title</label>
      <input type="text" name="title" class="form-control" [(ngModel)]="news.title"/>
    </div>
    <div class="form-group">
      <label>Category</label>
      <select name="category" class="form-control"  [compareWith]="byId" [(ngModel)]="news.category">
        <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>  
      </select> 
    </div>
    <div class="form-group">
      <label>Description</label>
      <input type="text" name="description" class="form-control" [(ngModel)]="news.description"/>
    </div>
    <div class="form-group">
        <label>Text</label>
        <textarea type="text" name="text" class="form-control" [(ngModel)]="news.text"></textarea>
      </div>
    <div class="pull-right">
      <input type="submit" class="btn btn-primary" value="save"/>
      <input type="button" (click)="reset()" class="btn btn-warning" value="reset"/>
    </div>
  </form>
