<div class="container" *ngIf="page">
  <div class="row" *ngIf="isLoggedIn()">
    <div class="col-md-8">
      <div class="col-md-11">
        <div class="row">
          <div class="col-md-6">
            <form class="form">    
              <div class="form-group">
                <label>Category</label>
                <select name="category" class="form-control" [(ngModel)]="filterNews.category">
                  <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>  
                </select> 
                <label for="filter-title">Title:</label>
                <input class="form-control" name="filter-menuItem" type="text" [(ngModel)] = "newsTitle"/>
              </div>
              <button class="btn btn-primary" type="button" (click)="filter()">Filter</button>
            </form>
          </div>
          <div class="button-group pull-right">
            <button class="btn btn-sm btn-primary" [disabled]="currentPageNumber<1" (click)="changePage(-1)">
              <span class="glyphicon glyphicon-backward"></span>
            </button>
            <button class="btn btn-sm btn-primary" [disabled]="currentPageNumber>=page.totalPages-1" (click)="changePage(1)">
              <span class="glyphicon glyphicon-forward"></span>
            </button>
          </div>        
        </div>
        <div class="row">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of page.content">
                <td>{{item.title}}</td>
                <td>{{item.category.name}}</td>
                <td>{{item.description}}</td>
                <td>
                <button class="btn btn-danger" (click)="delete(item)">delete</button>
                <button class="btn btn-warning" (click)="edit(item)">edit</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <app-add-news [news]="forEdit" [categories]="categories" (addNews)="add($event)">
  
      </app-add-news>
    </div>
  </div>
  <div class="row" *ngIf="!isLoggedIn()">
      <div class="col-md-12">
        <div class="col-md-11">
          <div class="row">
            <div class="col-md-6">
              <form class="form">    
                <div class="form-group">
                  <label>Category</label>
                  <select name="category" class="form-control" [(ngModel)]="filterNews.category">
                    <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>  
                  </select> 
                  <label for="filter-title">Title:</label>
                  <input class="form-control" name="filter-menuItem" type="text" [(ngModel)] = "newsTitle"/>
                </div>
                <button class="btn btn-primary" type="button" (click)="filter()">Filter</button>
              </form>
            </div>
            <div class="button-group pull-right">
              <button class="btn btn-sm btn-primary" [disabled]="currentPageNumber<1" (click)="changePage(-1)">
                <span class="glyphicon glyphicon-backward"></span>
              </button>
              <button class="btn btn-sm btn-primary" [disabled]="currentPageNumber>=page.totalPages-1" (click)="changePage(1)">
                <span class="glyphicon glyphicon-forward"></span>
              </button>
            </div>        
          </div>
          <div class="row">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Category</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of page.content">
                  <td>{{item.title}}</td>
                  <td>{{item.category.name}}</td>
                  <td>{{item.description}} <button [routerLink]= "['/preview', item.id]" class="btn btn-info">details</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>