<div class="row">
<form class="add-message" (ngSubmit)="addChatItem()">
<div class="form-group">
  <label>Message</label>
  <textarea name="message" class="form-control" [(ngModel)]="chatText"></textarea>
</div>
<div class="pull-right">
  <input type="submit" class="btn btn-primary" value="Add comment"/>
</div>
</form>
</div>

<div class="row">
<div *ngIf="chatItems">
  <div *ngFor="let item of chatItems">
    <p class="bg-success">{{item.message}}</p>
  </div>
</div>
</div>