<div class="row">
  <form class="add-message" (ngSubmit)="addComment()">
    <div class="form-group">
      <label>Name</label>
      <input name="name" class="form-control" [(ngModel)]="comment.name"/>
      <label>Message</label>
      <textarea name="message" class="form-control" [(ngModel)]="comment.comment"></textarea>
    </div>
    <div class="pull-right">
      <input type="submit" class="btn btn-primary" value="Add comment"/>
    </div>
  </form>
</div>
    <br/>
<div class="row">
  <div *ngIf="comments">
    <div *ngFor="let item of comments">
      <div class="alert alert-info">Name: {{item.name}} <p>Comment: {{item.comment}}</p></div>
    </div>
  </div>
</div>