<div class="container">
    <div *ngIf="project">
        <h1>{{project.name}}</h1>
        <h3>Category: {{project.category}}</h3>
        <h4>Goal: {{project.goal}}</h4>
        <p>{{project.about}}</p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" [style.width]="project.percentage + '%'" [attr.aria-valuenow]="project.raised" aria-valuemin="0" [attr.aria-valuemax]="project.goal">
            </div>
        </div>
        <div class="form-group">
            <label>Amount</label>
            <input type="text" name="amount" class="form-control" [(ngModel)]="amount" placeholder="0" />
        </div>
        <button [disabled]="!amount" (click)="updateRaised()" class="btn btn-success">Donate</button>
        <br/>
        <app-chat-item></app-chat-item>
    </div>
</div>