<nav class="navbar navbar-default">
  <div class="container">
      <div class="navbar-header">
      </div>
      <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="main">Home</a></li>
            <li *ngIf="!isLoggedIn()" class="active"><a href="register">Register</a></li>
          </ul>
          <ul class="nav navbar-nav pull-right">
              <li *ngIf="isLoggedIn()" class="active"><a (click)="logout()">Logout</a></li>
              <li *ngIf="!isLoggedIn()" class="active"><a href="login">Login</a></li>
          </ul>
      </div>
  </div>
</nav>
<div class="container theme-showcase" role="main">
  <div class="jumbotron">
      <h1>VX Group</h1>
      <p>Portal aktuelnih vesti</p>
  </div>
  <router-outlet></router-outlet>
</div>